header {
  font-family: "showcard gothic";
  text-align: center;
  margin: 25px 0 50px 0;
  text-decoration: underline;
}
body {
  background-color: gainsboro;
  font-family: "arial";
  text-align: center;
}
  h2 {
  margin-left: 20px;
  margin-bottom: 30px;
}
canvas{
  width: 500pt;
  height: 500pt;
  border: 2px solid dimgrey;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 30px;
  box-shadow: 10px 10px gray;
}
input{
  padding: 6px;
  margin-left: 20px;
  border: solid 1px lightslategrey;
  background-color: lightslategrey;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: black;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}
input:hover{
  background-color: darkslategrey;
  text-decoration: underline;
  border: 1px solid darkslategrey;
  cursor: pointer;
  border-radius: 8px;
}
input:active{
   background-color: darkslategrey;
  text-decoration: underline;
  border: 1px solid darkslategrey;
  cursor: pointer;
  border-radius: 8px;
}
#finput{
  width:20%;
  float: left;
}
.filterbuttons{
  padding: 10px;
  float: left;
}